/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* thanks redditindisguise */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none; /* no underline */
}

a:not([draggable='true']),
img:not([draggable='true']) {
  -webkit-user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"]
{
  -webkit-user-drag: auto;
}

button,
button:focus {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

button:active {
  outline: none;
  background: transparent;
  border: none;
}
